@using PJ_Source_GV.Caption;
@using PJ_Source_GV.Repositories;
@using Newtonsoft.Json;
@using System.Security.Claims;
@using PJ_Source_GV.Services;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var identity = (ClaimsIdentity)User.Identity;
}

<!DOCTYPE html>
<html translate="no">
<head runat="server">
    <title>@ViewData["Title"] - @SharedLocalizer["WebTitle"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
    <link rel="shortcut icon" href="~/images/icons/logo.ico">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700,300" />
    <link type="text/css" rel="stylesheet"
          href="~/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link type="text/css" rel="stylesheet"
          href="~/vendors/sco.message/sco.message.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/bootstrap/css/bootstrap.min.css" />
    <!--LOADING STYLESHEET FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="~/vendors/iCheck/skins/all.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/bootstrap-select/bootstrap-select.min.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/bootstrap-switch/css/bootstrap-switch.css" />
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="~/vendors/animate.css/animate.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/jquery-pace/pace.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/iCheck/skins/all.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/jquery-notific8/jquery.notific8.min.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/x-editable/bootstrap3-editable/css/bootstrap-editable.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/DataTables/media/css/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/DataTables/media/css/dataTables.bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/DataTables/extensions/FixedColumns/css/fixedColumns.dataTables.min.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/summernote/summernote.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/bootstrap-datepicker/css/datepicker.css" />
    <link type="text/css" rel="stylesheet" href="~/vendors/jquery-steps/css/jquery.steps.css" />
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="~/css/orange-blue.css" class="default-style" />
    <link type="text/css" rel="stylesheet" href="~/css/style-responsive.css" />
    <link type="text/css" rel="stylesheet" href="~/css/custom.css" />

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/vendors/jquery-validate/jquery.validate.min.js"></script>
    <!--loading bootstrap js-->
    <script src="~/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <script src="~/vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <script src="~/vendors/iCheck/custom.min.js"></script>
    <script src="~/vendors/jquery-notific8/jquery.notific8.min.js"></script>
    <script src="~/vendors/jquery-highcharts/highcharts.js"></script>
    <script src="~/js/jquery.menu.js"></script>
    <script src="~/vendors/jquery-pace/pace.min.js"></script>
    <script src="~/vendors/holder/holder.js"></script>
    <script src="~/vendors/responsive-tabs/responsive-tabs.js"></script>
    <script src="~/vendors/jquery-news-ticker/jquery.newsTicker.min.js"></script>
    <script src="~/vendors/moment/moment.js"></script>
    <script src="~/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <link type="text/css" rel="stylesheet" href="~/vendors/jquery-toastr/toastr.min.css" />
    <script src="~/vendors/sco.message/sco.message.js"></script>
    <!--core javascript-->
    <script src="~/js/main.js"></script>
    <!--LOADING SCRIPTS FOR PAGE-->
    <script src="~/vendors/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <script src="~/vendors/iCheck/custom.min.js"></script>
    <script src="~/js/ui-checkbox-radio.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/vendors/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/vendors/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="~/vendors/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/vendors/DataTables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <script src="~/vendors/jquery-toastr/toastr.min.js"></script>
    <script src="~/js/ui-toastr-notifications.js"></script>
    <script src="~/js/bootbox.min.js"></script>
    <script src="~/js/download.js"></script>
    <script src="~/vendors/summernote/summernote.js"></script>
    <script src="~/js/ui-tabs.js"></script>
    <script src="~/vendors/jquery-steps/js/jquery.steps.min.js"></script>
</head>
<body class=" ">
    <!--BEGIN BACK TO TOP--><a id="totop" href="#"><i class="fa fa-angle-up"></i></a><!--END BACK TO TOP-->
    <!--BEGIN TOPBAR-->
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;"
             class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a id="logo" class="navbar-brand" style="padding-top:5px" asp-controller="Home" asp-action="Index">
                    <span class="fa fa-rocket"></span>
                    <span class="logo-text">
                        <img src="~/images/LogoTDTBgWhite.png" class="img-responsive" style="height: 40px; margin-left: auto; margin-right: auto; margin-top: 0%" />
                    </span>
                    <span style="display: none" class="logo-text-icon">
                        <img src="~/images/LogoTDTBgWhite.png" class="img-responsive" style="margin-left: auto; margin-right: auto; margin-top: 10px" />
                    </span>
                </a>
            </div>
            <div class="topbar-main">
                <a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                <span class="hidden-xs hidden-sm hidden-md text-uppercase" style="font-size: 2.2em; color: white; font-weight:bold; align-self: center;">@SharedLocalizer["WebTitle"]</span>
                <ul class="nav navbar navbar-top-links navbar-right mbn" style="margin-left: auto; text-align:right;">
                    <li class="hidden-xs hidden-sm" style="width: 200px;">
                        @{
                            var listPhongBan = JsonConvert.DeserializeObject<AuthService.KiemNhiemInfo[]>(identity.FindFirst("ListKhoa").Value);
                            var selectList = listPhongBan.Select(d => new SelectListItem { Text = d.TenBoPhan, Value = d.MaBoPhan });
                            var maPhongBan = identity.FindFirst("KhoaID").Value;
                            var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                            var cultureItems = LocOptions.Value.SupportedUICultures
                                .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                                .ToList();
                            var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value + Context.Request.QueryString}";
                        }
                        <select id="list-style" class="form-control selectpicker phongBan"
                                asp-items="@selectList"
                                asp-for="@maPhongBan"
                                data-style="btn-white" data-show-subtext="true" data-live-search="true"></select>
                    </li>
                    <li class="dropdown">
                        <!--BEGIN THEME SETTING-->
                        <a id="theme-setting" data-hover="dropdown" class="dropdown-toggle">
                            <i class="fa fa-cogs"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-theme-setting pull-right">
                            <li>
                                <h4 class="mtn"><i class="fa fa-language"></i> @SharedLocalizer["ChooseLanguage"]</h4>
                                <form asp-area="" asp-controller="Home" asp-action="SetLanguage" id="form" method="post" asp-route-returnUrl="@returnUrl" role="form">
                                    <select id="culture" name="culture" onchange="this.form.submit();" class="form-control selectpicker phongBan"
                                            data-style="btn-white" data-show-subtext="true" data-live-search="true"
                                            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                                </form>
                            </li>
                            <li class="hidden-lg hidden-md">
                                <h4 class="mtn">@SharedLocalizer["ChooseUnit"]</h4>
                                <select id="list-phongBan" class="form-control selectpicker phongBan"
                                        asp-items="@selectList"
                                        asp-for="@maPhongBan"
                                        data-style="btn-white" data-show-subtext="true" data-live-search="true"></select>
                            </li>
                        </ul>
                        <!--END THEME SETTING-->
                    </li>
                    <li class="dropdown topbar-user">
                        <a data-hover="dropdown" href="#" class="dropdown-toggle">
                            <img src="https://lecturer.tdtu.edu.vn/API/NhanVien/GetAvatar/@(identity.FindFirst(ClaimTypes.Email).Value)" alt="" id="avatar_user"
                                 class="img-responsive img-circle" />&nbsp;<span class="hidden-xs">@(identity.FindFirst(ClaimTypes.Name).Value)</span>&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-user pull-right">
                                <li><a href="https://lecturer.tdtu.edu.vn/lylich/"><i class="fa fa-user"></i>@SharedLocalizer["LyLich"]</a></li>
                                <li><a asp-action="Logout" asp-controller="Home"><i class="fa fa-key"></i>@SharedLocalizer["Logout"]</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
                <div class="sidebar-collapse menu-scroll">
                    <ul id="side-menu" class="nav">
                        <li>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <a href="https://lecturer.tdtu.edu.vn">
                                <i class="fa fa-sign-in"></i>
                                <span class="menu-title">@SharedLocalizer["LecturerPortal"]</span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <i class="fa fa-home"></i>
                                <span class="menu-title">@SharedLocalizer["Menu_Home"]</span>
                            </a>
                        </li>
                         <li>
                            <a href="/danhsach">
                                <i class="fa fa-list"></i>
                                <span class="menu-title">@SharedLocalizer["Menu_DanhSach"]</span>
                            </a>
                        </li>
                        @if (User.IsInRole("group_view") || User.IsInRole("page_view"))
                        {
                            <li>
                                <a href="/permission">
                                    <i class="fa fa-user">
                                    </i><span class="menu-title">@SharedLocalizer["PermissionMenu"]</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level collapse" style="height: 0px;">
                                    @if (User.IsInRole("group_view"))
                                    {
                                        <li>
                                            <a href="/group">
                                                <i class="fa fa-users" style="color: #e74c3c;">
                                                </i><span class="submenu-title">@SharedLocalizer["GroupMenu"]</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.IsInRole("page_view"))
                                    {
                                        <li>
                                            <a href="/page">
                                                <i class="fa fa-tasks" style="color: #e74c3c;">
                                                </i><span class="submenu-title">@SharedLocalizer["PageMenu"]</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        <li>
                            <a href="/home/about">
                                <i class="fa fa-navicon"></i>
                                <span class="menu-title">@SharedLocalizer["ThongTinPhanMem"]</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank"
                               href="https://hdsd.tdtu.edu.vn/HDSD?id=87">
                                <i class="fa fa-info"></i>
                                <span class="menu-title">@SharedLocalizer["HuongDanSuDung"]</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--END SIDEBAR MENU--><!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <breadcrumb asp-homepage-title="@SharedLocalizer["Menu_Home"].Value"
                                asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                                asp-bootstrap-version="V3"
                                asp-homepage-glyphicon="fa fa-home" class="breadcrumb page-breadcrumb pull-left"><i class="fa fa-angle-right"></i></breadcrumb>
                    <div class="page-header pull-right">
                        <div class="page-title"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
                <div class="page-content">
                    @RenderBody()
                </div>
                <!--END CONTENT-->
            </div>
            <!--BEGIN FOOTER-->
            <div id="footer" class="fixed">
                <div class="pull-left">
                    @SharedLocalizer["BestBrowsers"]: <img src="/images/compatible_firefox.png" width="25px">&nbsp;&nbsp;<img src="/images/compatible_chrome.gif" width="25px">
                </div>
                <div class="copyright">2022 © @SharedLocalizer["Copyright"]</div>
            </div>
            <!--END FOOTER--><!--END PAGE WRAPPER-->
        </div>
    </body>

</html>

<script type="text/javascript">
    var image = document.getElementById('avatar_user');
    image.onerror = function () {
        this.src = '/images/admin.ico'; // place your error.png image instead
    };

    $(document).ready(function () {
        $("#list-style, #list-phongBan").on("change", function () {
            var maPhongBan = $(this).find('option:selected').val();
            $.ajax({
                url: "/Home/SetPhongBan",
                type: "post",
                data: {
                    maPhongBan
                },
                success: function (result) {
                    if (result) {
                        toastr.success("Cập nhật thành công");
                        location.reload();
                    } else {
                        toastr.error("Cập nhật thất bại");
                    }
                }
            });
        });
        @if (User.IsInRole("chuyendoitk_view"))
        {
            <text>
            $("#list-nhanvien").on("change", function () {
                var maNhanVien = $(this).val();
                $.ajax({
                    url: "/Home/SetNhanVien",
                    type: "post",
                    data: { maNhanVien },
                    success: function (result) {
                        if (result) {
                            toastr.success("Cập nhật thành công");
                            location.reload();
                        } else {
                            toastr.error("Cập nhật thất bại");
                        }
                    },
                    error: function (result) {
                        toastr.error("Cập nhật thất bại");
                    }
                });
            });
            </text>
        }
    });
</script>